.header {
display:block;
text-align: center;
font-family:monospace;
color: #000033;
}

.img{
display: block;
text-align: center;
}

.letter{
display: block;
margin-left: 360px;
}

.speakbubble {
display: block;
margin-left: 535px;
margin-top: -450px;

}

.menue {
display: block;
text-align: center;
margin-top: 20px;
font-family:monospace;
color: #000000;
}

.mailme {
display: block;
text-align: center;
margin-top: -195px;
margin-left: 255px;
font-family:monospace;
color: #000000;
}

.list-item  {
display:inline-block;
text-align: center;
margin-top: 5px;
margin-right: 20px;
color: #000000;
}

.text {
display: block;
text-align: center;
margin-top: 40px;
font-family: monospace;
color: #000033;
}

.photo{
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 10px;
}

.unterschrift {
display: block;
text-align: center;
margin-top: 20px;
font-family: monospace;
color: #000033;
}

.justify{
display: block;
text-align: center;
margin-top: 40px;
margin-left: 250px;
margin-right: 250px;
font-family: monospace;
color: #000000;
}

#box { text-align: center }
.box { box-sizing: border-box;
      margin-top: 20px;
       width: 350px; height: 500px;
       display:inline-block; vertical-align: top;
       font-family: monospace;
       font-weight: lighter;
}
.box:nth-child(1) { padding:10px; border:10px solid gainsboro;}
.box:nth-child(2) { padding:20px; background: silver; color: white}
.box:nth-child(3) { border:20px solid gray}
